@charset "UTF-8";

.posRelative {position: relative !important;}
.posAbsolute {position: absolute !important;}
.posFixed {position: fixed !important;}
.posSticky {position: sticky !important;}
.posStatic {position: static !important;}
.posUnset {position: unset !important;}