@charset "UTF-8";

* {
  color: #222;
  box-sizing: border-box;
  outline: none;
  word-break: keep-all;
  letter-spacing: -0.025em;
  font-family: "Pretendard Variable", sans-serif !important;
  flex-shrink: 1;
}

html,
body {
  height: 100%;
  font-family: "Pretendard Variable", sans-serif !important;
  font-size: 62.5%;
  font-weight: 400;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Noto Sans KR", "sans-serif";
  font-weight: 400;
  vertical-align: baseline;
  touch-action: manipulation
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
picture {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  //content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

strong, b, strong *, b * {
  font-weight: bold;
}

em, i, em *, i * {
  font-style: italic;
}

input {
  padding: 0;
  border: 0;
}

button {
  padding: 0;
  border: 0;
  background: none;
}

#app,
.main {
  width: 100%;
  height: 100%;
}

.dFlex {display: flex !important;}
.fDirectionColumn {flex-direction: column !important;}
.fAlignItemsNormal {align-items: normal !important;}
.fAlignItemsStretch {align-items: stretch !important;}
.fAlignItemsCenter {align-items: center !important;}
.fJustifyContentCenter {justify-content: center !important;}
.fJustifyContentSpaceBetween {justify-content: space-between !important;}
.taCenter {text-align: center !important;}
.posRelative {position: relative !important;}
.posAbsolute {position: absolute !important;}
@for $i from 0 through 1920 {
  .mb#{$i} {margin-bottom: #{$i}px !important;}
}
@for $i from 1 through 9 {
  .ftw#{100*$i} {font-weight: #{$i}00 !important;}
}
@for $i from 5 through 120 {
  /* margin - top */
  .fz#{$i} {font-size: #{$i}px !important;}
}

.content {
  width: 500px;
  height: 60%;
}
.title {
  height: 50px;
  margin-bottom: 3vh;
  background: linear-gradient(154deg, #fa7268 0%, #c62368 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.print {
  width: 100%;
  height: 100%;
  margin-bottom: 3vh;
  padding: 2vh;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
}
.print_image {
  width: 100%;
  height: 100%;
}
.guide {
  color: #ddd;
}
.prompt {
  width: 100%;
  height: 36px;
  padding: 6px 6px 6px 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
}
.prompt_input {
  width: calc(100% - 140px);
  height: 100%;
  background: none;
}
.prompt_button {
  width: 140px;
  height: 100%;
  background-image: linear-gradient(154deg, #fa7268, #c62368);
  border-radius: 30px;
  color: #fff;
}
.desc {
  color: #001220;
}

.pointer {
  cursor: pointer;
}